@import url('https://fonts.googleapis.com/css?family=Allerta Stencil&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

button{
   height: 30px;
   margin: 10px;
}

.white-text{
   color: white;
}

.pink-text{
   color: rgb(238, 166, 249);
}

.purple-text{
   color: rgb(176, 88, 211);
}

.black-text{
   color: black;
}

.grey-text{
   color: grey;
}

.round-button{
   border-radius: 16px;
}

.rectangle-button{
   border-radius: 2px;
}

.red-button{
   background-color: rgba(255,0,0,0.5);
}

.blue-button{
   background-color: rgba(0,0,255,0.5);
}

.green-button{
   background-color: green;
}

.white-button{
   background-color: white;
}

.white-button-border{
   border-color: white;
}

.black-button-border{
   border-color: black;
}
 
p{
   margin: 10px;
}

.right {
   text-align: right;
   float: right;
}

body {
   margin: 0px;
   background-repeat: no-repeat, no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

div {
   display: flex;
 }

.airport-container {
   background-image: url("car-service-miami-airport-1024x768cropped.jpg");
   background-color: #cccccc;
   height: 700px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   border: 3px solid #fff;
   padding: 20px;
}

.airport-left {
   flex: 0.5;
   float: left;
   align-items: center;
   justify-content: flex-end;
   padding-right: 32px;
   height: 300px;
}

.airport-right {
   flex: 0.5;
   float: left;
   align-items: center;
   justify-content: flex-start;
   padding-left: 32px;
   height: 360px;
}

.website-title{
   font-size: 40px;
   font-family: 'Allerta Stencil', 'Courier New', Courier, monospace;
}

.reservations-and-quotes{
   display: flex;
   font-family: 'Roboto', 'Courier New', Courier, monospace;
   flex-direction: column;
   justify-content: space-evenly;
}

/* .background-title {
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   text-align: left;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
} */

.map {
   background-image: url("limofinder-map-miami-beach-1024x404cropped.jpg");
   background-color: #cccccc;
   height: 700px; 
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.map-text {
   text-emphasis-color: rgb(252, 252, 252);
   width: 100%;
   justify-content: center;
   margin-bottom: 20px;
}

.map-body{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   width: 100%;
}

.form-left {
   flex: 0.5;
   float: left;
   align-items: center;
   justify-content: flex-end;
   padding-right: 32px;
   height: 300px;
}

.form-right {
   flex: 0.5;
   float: left;
   align-items: center;
   justify-content: flex-start;
   padding-left: 32px;
   height: 360px;
}

.title-for-quote{
   font-size: 40px;
   font-family: 'Allerta Stencil', 'Courier New', Courier, monospace;
}

.info-for-quote{
   display: flex;
   font-family: 'Roboto', 'Courier New', Courier, monospace;
   flex-direction: column;
   justify-content: space-evenly;
}

.center-button{
   justify-content: center;
}

.violet-background{
   background-color: rgb(250, 192, 255);
}

.form-container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   background-color: #ffffff;
}

.text-for-title-of-form {
   width: 100%;
}

.form-title{
   margin: auto;
   text-align: center;
   flex-flow: column wrap;
   flex-direction: column;
   justify-content: center;
   margin-top: 40px;
}

.margin-negative-5{
   margin-bottom: -5px;
}

.roboto-font-family {
   font-family: 'Roboto';
}

.arial-font-family {
   font-family: 'Arial';
}

.font-size-22 {
   font-size: 22px;
}

.font-size-10 {
   font-size: 10px;
}

/* .transportation options{
   background-color: #ffffff;
} */


   