@import url('https://fonts.googleapis.com/css?family=Allerta Stencil&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.right {
   text-align: right;
   float: right;
}

.rightHeading {
   text-emphasis-color: rgb(0, 123, 255);
}

body {
   /* background-image: url("car-service-miami-airport-1024x768cropped.jpg"), url("limofinder-map-miami-beach-1024x404.jpg"); */
   /* background-position: 0 -40px; */
   margin: 0px;
   background-repeat: no-repeat, no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

div {
   display: flex;
 }

.airport-container {
   background-image: url("car-service-miami-airport-1024x768cropped.jpg");
   background-color: #cccccc;
   height: 700px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   border: 3px solid #fff;
   padding: 20px;
}

.airport-left {
   flex: 0.5;
   float: left;
   align-items: center;
   justify-content: flex-end;
   padding-right: 32px;
   height: 300px;
}

.airport-right {
   flex: 0.5;
   float: left;
   align-items: center;
   justify-content: flex-start;
   padding-left: 32px;
   height: 360px;
}

.child-left{
   font-size: 40px;
   font-family: 'Allerta Stencil', 'Courier New', Courier, monospace;
}

.child-right{
   display: flex;
   font-family: 'Roboto', 'Courier New', Courier, monospace;
   flex-direction: column;
   justify-content: space-evenly;
}

button{
   height: 30px;
   margin: 10px;
}

.white-text{
   color: white;
}

.pink-text{
   color: rgb(238, 166, 249);
}

.black-text{
   color: black;
}

.grey-text{
   color: grey;
}

.round-button{
   border-radius: 16px;
}

.rectangle-button{
   border-radius: 2px;
}

.red-button{
   background-color: rgba(255,0,0,0.5);
}

.blue-button{
   background-color: rgba(0,0,255,0.5);
}

.green-button{
   background-color: green;
}

.white-button{
   background-color: white;
}

.button-border-colour-white{
   border-color: white;
}

.button-border-colour-black{
   border-color: black;
}
 
p{
   margin: 10px;
}

.background-title {
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-emphasis-color: rgb(235, 66, 164);
   text-align: center;
   text-align: left;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
}

.map {
   background-image: url("limofinder-map-miami-beach-1024x404cropped.jpg");
   background-color: #cccccc;
   height: 700px; 
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.map-text {
   text-emphasis-color: rgb(252, 252, 252);
   width: 100%;
   justify-content: center;
}

.map-body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
}

.center-button{
   justify-content: center;
}

.pink-background{
   background-color: pink;
}

.white-background-one {
   background-color: #ffffff;
   height: 700px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

/* .white-background-one-text {
   
} */

/* .white-background-two {
   background-color: #ffffff;
} */


   